Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.vercel
tests
.husky
.github
verify.sh
coverage
jest.config.ts
jest.setup.ts
eslint.config.mjs
postcss.config.mjs
tailwind.config.ts
tsconfig.tsbuildinfo
