# Application Settings

# The OpenAI model to use in the backend and display on the frontend
NEXT_PUBLIC_OPENAI_MODEL=gpt-5

# API Keys
# Get your OpenAI API Key from: https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-proj-...

# Get your Tavily API Key from: https://tavily.com/
TAVILY_API_KEY=tvly-...
